.partcipant-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  flex-wrap: wrap;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // background: #000000;
  .vid-wrapper {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .particpant-label{
      background: black;
      position: absolute;
      bottom: 0;
      z-index: 20;
    }
    .no-video{
      position: absolute;
      // bottom: 50%;
      z-index: 20;
    }
    .no-audio{
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 20;
    }
    video {}
  }
}